.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.description {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #000;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.tag {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 10px;
}

.location {
  font-size: 16px;
  color: #6c757d;
}

.stats {
  display: flex;
  justify-content: flex-start;
  background-color: #f3f6f9;
  border-radius: 8px;
  padding: 10px 15px;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
}

.label {
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
