.profile {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
}

.profile-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 1.5em;
  color: #fff;
}

.profile-tag,
.profile-location {
  color: #ccc;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  background-color: #f3f6f9;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.profile-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
