.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.status {
  font-size: 15px;
  margin-top: 5px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
