.transaction-history {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.transaction-history th,
.transaction-history td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.transaction-history th {
  background-color: black;
  color: white;
}

.odd {
  background-color: #f9f9f9;
}

.even {
  background-color: #f3f3f3;
}
