.transactionHistory {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.transactionHistory th {
  background-color: #252728;
  color: white;
}

.odd {
  background-color: #4b4848;
}

.even {
  background-color: #9fa4a9;
}
